*{
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  color: #444;
  position: relative;
}

.main-header{
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.post-header{
  margin-bottom: 40px;
}

nav{
  font-size: 18px;
}

article{
  margin-bottom: 60px;
}

aside{
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

h1, h2, h3, h4{
  text-transform: uppercase;
  font-style: italic;
}

h1, h2, h3{
  color: #1098ad
}

p, li{
  line-height: 1.5;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 16px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 15px;
}

ul,ol{
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 16px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 12px;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 16px;
}

.related {
  list-style: none;
}

/* this wont work */
article p:first-child {
  color: red;
}

li:first-child {
  font-weight: bold;
}

/* styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  text-decoration: underline;
  text-decoration: underline orangered;
}

a:active {
  color: blue;
  font-style: italic;
}

.post-image{
  width: 100%;
  height: auto;
}

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;

  display: block; */

  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h3 + p::first-line{
  /* color: red; */
}

h2::after {
  content: "TOP";
  font-size: 16px;
  background-color: #ffe70e;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}